@CHARSET "UTF-8";

/* Reset */
* { margin:0; padding:0; }

/* Utils */
.clear{
    clear: both;
    margin:0; padding:0;
}

/* Style */
body header #main{
    border : solid 1px red;
    height : 50px;
}

body header #main .title {
}

body header #main .connect {
    float : right;
}

body header #subtitle {
    height : 70px;
    text-align: center;
    border : solid 1px blue;
}

body footer #copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
    min-height: 250px;
    font-size: 12px;
}

#middle {
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
    vertical-align: middle;
    border: solid 1px;
    min-height: 250px;
    width: 955px;
}

#middle nav {
    height: 34px;
    border: solid 1px;
}

#middle nav ul {
    list-style: none;
}

#middle nav li {
    display: inline;
}

.place {
    width: 100%;
    padding: 5px;
}


.place .title {
    font-weight: bold;
    background: lightgreen;
    margin: 5px 415px 5px 0px;
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



.place #gmap {
    float: right;
    width: 400px;
    height: 350px;
    margin-right: 10px;
}
