@CHARSET "UTF-8";
/*Palette couleur*/
/*http://mudcu.be/sphere/#config={%22hsl%22:{%22H%22:135.2438103561041,%22S%22:100,%22L%22:33.531360778183526},%22theme%22:%22dark%22,%22quantize%22:0,%22harmony%22:%22Neutral%22,%22vision%22:%22Normal%22,%22space%22:%22RYB%22,%22top%22:62,%22left%22:50,%22diameter%22:500,%22scale%22:3,%22dot%22:false}*/
/* Reset */
* { margin:0; padding:0; }

h1 { font-size:160%}
h2 { font-size:140%}
h3 { font-size:120%}

body{
    height:100%;
    font-family:Helvetica,Arial,sans-serif;
    font-size:small;
    color:#000;
    background-color:#fff;
    padding:0;
}


.clear{
    clear: both;
    margin:0; padding:0;
}

ol, ul {
    list-style: none outside none;
}


a, a:VISITED {
    text-decoration: none;
    color: #6EAB00;
}

a:HOVER {
    text-decoration: underline;

}

p {
    margin-bottom: 1em;
}

form{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #F3FFDE;
    border: solid 1px #DDFEAA;
    padding: 20px;
}

form li {
    padding: 3px;
}

form .text-box label, form .text-box input, form .text-box textarea {
    background-color: white;
    border: 1px solid #CCCCCC;
    margin: 0 !important;
    padding: 6px 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: text;
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    text-indent: 10px !important;
    width: 283px;
}

form .text-box input, form .text-box label {
    width: 138px !important;
}




a.bouton,  form input[type=submit]
    {
    -moz-transition: all .4s cubic-bezier;
    border: 1px solid #2FAB00;
    display: block;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 5px;
    line-height: 44px;
    font: 12px 'Lucida Grande','Lucida Sans Unicode',Arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
    background: #6EAB00;

}


a.bouton:hover, form input[type=submit]:hover
{
    background: #2FAB00; /* Old browsers */
}

a.bouton:active, form input[type=submit]:active {
     -moz-transform: scale(0.98);
     box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
}


/* Style */
body header #main{
    /*background-color: #6C6C6C;*/
    height : 40px;
    color : #FFFFFF;
    background: url('../img/background.png');
    padding: 20px;
}

body header #main .title {
    width: 350px;
    font-size: 2.5em;
    font-family: 'Chewy', arial, serif;
    float: left;
}

body header #main .connect {
    margin-top : 10px;
    float: right;
}


header #main nav {
    float: left;
    font-size: 1.3em;
    margin-top : 10px;
}

header #main nav a{
    color: #FFFFFF;
}

header #main nav li {
    display: inline;
    margin-right: 1px;
    padding: 10px 10px;
}

header #main nav li.active {
    background: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


body footer #copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
    min-height: 250px;
    font-size: 12px;
    color: #FFFFFF;
}

#middle {
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    min-height: 330px;
    background: #FFFFFF;
}

#middle #subheader {
    height: 300px;
}

#middle #content {
    margin: 0 auto;
    width: 1024px;
    padding: 20px 10px;
}


.place {
    width: 100%;
    padding: 5px;
}

.place .title {
    font-weight: bold;
    background: lightgreen;
    margin: 5px 415px 5px 0px;
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.place #gmap {
    float: right;
    width: 400px;
    height: 350px;
    margin-right: 10px;
}

