<style type="text/css">
<!--

-->
</style>

<h1>Login</h1>
<form class="user-form login-form">
    <ul>
        <li>
            <div class="text-box ">
                <input type="text" name="name" placeholder="Name" />
            </div>
        </li>
        <li>
            <div class="text-box">
                <input type="password" name="password_confirmation" placeholder="Retype Password" />
            </div>
        </li>
        <li>
            <div class="text-box">
                <input type="submit" name="login" value="Login"/>
                <a href="">Forgot your password?</a>
            </div>
        </li>
    </ul>
</form>
